venv/
.env
__pycache__/
*.pyc
.DS_Store
*.egg-info/
dist/
build/
assets/audio/*.wav
assets/audio/*.mp3
djr3x.log*
assets/face_db.sqlite
assets/models/*.dat
assets/music/
assets/face_debug/
.VSCodeCounter/